services:
  # Database for .NET Order Service (Relational)
  order-db:
    image: postgres:16-alpine
    container_name: order-db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: orders_db
    ports:
      - "5432:5432"
    volumes:
      - order_data:/var/lib/postgresql/data

  # Database for Node.js Payment Service (Document-based)
  payment-db:
    image: mongo:7.0
    container_name: payment-db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password123
    ports:
      - "27017:27017"
    volumes:
      - payment_data:/data/db

  # Distributed Cache & Saga State Storage
  redis:
    image: redis:7.2-alpine
    container_name: redis-cache
    ports:
      - "6379:6379"

  # Custom Identity Service (STS)
  identity-service:
    build:
      context: .
      dockerfile: IdentityService/Dockerfile
    container_name: identity-service
    ports:
      - "5050:8080" # Changed from 5000 to 5050 to avoid Kong conflict
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - Jwt__Key=ThisIsAVerySecretKeyForDevelopmentOnly123!
      - Jwt__Issuer=IdentityService
      - Jwt__Audience=MicroserviceApp

  # API Gateway (Kong)
  kong:
    image: kong:3.4
    container_name: kong
    environment:
      KONG_DATABASE: "off"
      KONG_DECLARATIVE_CONFIG: /usr/local/kong/declarative/kong.yml
      KONG_PROXY_LISTEN: 0.0.0.0:8000, 0.0.0.0:8443 ssl, 0.0.0.0:9080 http2, 0.0.0.0:9091 ssl http2
      KONG_ADMIN_LISTEN: 0.0.0.0:8001
    ports:
      - "8000:8000"     # HTTP Proxy
      - "8443:8443"     # HTTPS Proxy
      - "8001:8001"     # Admin API
      - "9080:9080"     # gRPC Proxy
    volumes:
      - ./kong.yml:/usr/local/kong/declarative/kong.yml

volumes:
  order_data:
  payment_data:
