apiVersion: v1
kind: Service
metadata:
  name: identity-service
  namespace: microservices
  labels:
    app: identity-service
spec:
  type: ClusterIP
  ports:
    - port: 5010
      targetPort: 5010
      protocol: TCP
      name: http
  selector:
    app: identity-service
