apiVersion: v1
kind: Service
metadata:
  name: payment-service
  namespace: microservices
  labels:
    app: payment-service
spec:
  type: ClusterIP
  ports:
    - port: 50012
      targetPort: 50012
      protocol: TCP
      name: grpc
  selector:
    app: payment-service
