# Port Configuration
REST_PORT=5014

# Service Identity
SERVICE_NAME=CartService
SERVICE_VERSION=1.0.0

# Internal Service URLs
REDIS_URL=redis://localhost:6379/0
ORDER_SERVICE_URL=localhost:50011

# Observability
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
