# Development environment overrides
replicaCount: 1

resources:
  limits:
    cpu: 200m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi

config:
  nodeEnv: "development"
  logLevel: "debug"
