# Port Configuration
REST_PORT=5015

# Service Identity
SERVICE_NAME=PdfService
SERVICE_VERSION=1.0.0

# Storage
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=
S3_SECRET_KEY=

# Observability
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
