# Port Configuration
REST_PORT=5012
PORT=50012

# Database Configuration
MONGO_URI=mongodb://admin:password123@localhost:27017
MONGO_DB_NAME=payments_db

# Observability Configuration
LOKI_URL=http://localhost:3100
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317

# Proto Configuration
# Absolute path to the protos directory in Docker/K8s
# Relative path (from service root) for local development
PROTO_PATH=../../protos
