# Database Configuration
DB_HOST=localhost
DB_USER=admin
DB_PASSWORD=password123
DB_NAME=inventory_db
DB_PORT=5433

# Port Configuration
GRPC_PORT=50013
REST_PORT=5013

# Service Identity
SERVICE_NAME=InventoryService
SERVICE_VERSION=1.0.0

# Observability
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
